.row{:style => "background-color: lightgreen"}
  %h1 Customers
  %br
  %br
  %center
    = link_to("Create New Customer", "/customers/new")
  %ol
    - @customers.each do |customer|
      %li Name: #{customer.name}
      Address: #{customer.address}
      %br
      %br
  %hr

    %br
    %br
    %center
      = link_to("Home", "/dashboard")
      ||
      = link_to("Logout", "/")
      %br
      %br
