%center
  %h1 Create new Customer
  .row{:style => "background-color: yellow"}
    = form_for :customer do |f|
      %br
      %br
      Name:
      = f.text_field :name, input_html: { required: true }
      %br
      %br
      = f.label 'Address: '
      = f.text_field :address, input_html: { required: true }
      %br
      %br
      %br
      %br

      %b
        Credit Card information:
      %br
      %br
      = f.label 'Name on Credit Card: '
      = f.text_field :credit_name, input_html: { required: true }
      %br
      %br
      = f.label 'Number: '
      = f.text_field :credit_num, input_html: { required: true }
      %br
      %br
      = f.label 'Expiry: '
      = f.text_field :credit_exp, input_html: { required: true }
      %br
      %br
      = f.label 'CVV: '
      = f.text_field :credit_cvv, input_html: { required: true }
      %br
      %br
      = f.submit

    %hr

    %br
    %br
    = link_to("Back to customers", "/customers/all")
    ||
    = link_to("Home", "/dashboard")
    ||
    = link_to("Logout", "/")
    %br
    %br

    %img.img-responsive{:src => "/customer.jpg", :height => 300, :width => 500}
    %br
    %br
