%h1 Reservations#all

%br
= link_to("New", "/reservations/new/")
%br
%br
= link_to("Edit", "/reservations/edit/")
%br

%ol
  - @reservation.each do |reservation|
    %li
    Name: #{reservation.customer.name}
    %br
    Start #{reservation.start_date}
    %br
    End #{reservation.end_date}
%hr

  %br
  %br
  = link_to("Home", "/dashboard")

  %br
  %br
  = link_to("Logout", "/")
