%h1 Reservations
.row{:style => "background-color: lightgreen"}
  %br
  %center
    = link_to("New Reservation", "/reservations/new/")
  %br
  %br

  %ol
    - @reservation.each do |reservation|
      %li
      Name: #{reservation.customer.name}
      %br
      Check-in: #{reservation.start_date}
      %br
      Check-out: #{reservation.end_date}
      %br
      Room: #{reservation.room}
  %hr

    %br
    %br
    %center
      = link_to("Home", "/dashboard")
      ||
      = link_to("Logout", "/")
      %br
      %br
