%center
  %h1 Create new Reservation
  .row{:style => "background-color: yellow"}
    = form_for :reservation do |f|
      %br
      %br
      =f.label 'Customer name: '
      = collection_select(:reservation, :customer_id, @customers.all, :id, :name)
      %br
      %br
      = f.label 'Room number: '
      = f.text_field :room, input_html: { required: true }
      %br
      %br
      = f.label 'Check-in: '
      = f.text_field :start_date, input_html: { required: true }
      %br
      %br
      = f.label 'Check-out: '
      = f.text_field :end_date, input_html: { required: true }
      %br
      %br
      = f.submit

    %br
    %br
    = link_to("Create new customer profile", "/customers/new/")


    %hr

    %br
    %br
    = link_to("Back to reservations", "/reservations/all")
    ||
    = link_to("Home", "/dashboard")
    ||
    = link_to("Logout", "/")

    %br
    %br
    %img.img-responsive{:src => "/reservation.jpg", :height => 300, :width => 500}
    %br
    %br
